#!/bin/sh
if [ -x /usr/bin/numlockx ]; then
	/usr/bin/numlockx on
fi

export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8
export LC_CTYPE=en_US.UTF8
export LD_PRELOAD=/usr/lib/libwcwidth-icons.so

export EDITOR=nvim
export TERMINAL=xfce4-terminal

export PATH=$PATH:$HOME/.bin

export GPG_USER_NAME='Sinésio Neto'
export GPG_USER_EMAIL=sn.logbackup@gmail.com

nitrogen --restore &
